<section class="section">
    <div class="media-content">
      <div class="content has-text-centered">
        <p><strong class="is-size-1">積ん読・積みゲーetc...</strong></p>
        <p><strong class="is-size-1">コンテンツ放置防止アプリ</strong></p>
      </div>
    </div>
    <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>