<p><%= @resource.email %>さま</p>

<p>パスワード変更が要求されました。以下のリンクから行うことができます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心覚えが無い場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新規作成しない場合、パスワードは変更されません。</p>
